# Análise da Presença de Computadores no Âmbito Escolar #
---
### José Elias de Oliveira

## Introdução
Projeto com o intuito de usar o python para realizar a analise de dados públicos. Nesse projeto foi escolhido a informação do Censo escolar de 2018. Este projeto está sendo desenvolvido para as matérias de Estrutura de Dados e Laboratório de Banco de Dados do curso de Análise de Sistemas da  FATEC Professor Jessen Vidal.


## A PRESENSÇA DE COMPUTADORES NO ÂMBITO ESCOLAR ##

Analisar os dados publicos do Censo Escolar 2018 para criar um gráfico que represeta o quanto computadores estão conectados com o sistema de ensino por todo o brasil.

In [8]:

import pandas as pd
low_memory=False
pd.options.display.max_columns = 80
pd.options.display.max_rows = 90


import numpy as np
import matplotlib.pyplot as plt

columns = ['CO_ENTIDADE']

df = pd.read_csv('ESCOLAS.CSV', delimiter = ';', names = columns, encoding='iso-8859-1')
df.shape

(286015, 1)

## Dados das Escolas ##

In [22]:

filename = 'ESCOLAS.csv'
columns = ['CO_ENTIDADE','NO_ENTIDADE','CO_ORGAO_REGIONAL', 'CO_REGIAO','CO_UF', 'CO_MUNICIPIO', 'IN_COMPUTADOR']
df2 = pd.read_csv(filename, delimiter = ';', names = columns, encoding='iso-8859-1')
df2

,CO_ENTIDADE,NO_ENTIDADE,CO_ORGAO_REGIONAL,CO_REGIAO,CO_UF,CO_MUNICIPIO,IN_COMPUTADOR
0,NU_ANO_CENSO|CO_ENTIDADE|NO_ENTIDADE|CO_ORGAO_...,NaN,NaN,NaN,NaN,NaN,NaN
1,2018|11022370|EMEIEF CARLOS CHAGAS|00012|1|05/...,NaN,NaN,NaN,NaN,NaN,NaN
2,2018|11022388|EMEIEF CARLOS GOMES|00012|1|05/0...,NaN,NaN,NaN,NaN,NaN,NaN
3,2018|11022450|EEEF DEONILDO CARAGNATTO|00012|1...,NaN,NaN,NaN,NaN,NaN,NaN
4,2018|11022469|EMEIEF DEONILDO CARAGNATTO|00012...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
286010,2018|33092745|EXTERNATO JOSE LEVY|11008|1|21/0...,NaN,NaN,NaN,NaN,NaN,NaN
286011,2018|33092753|EMPROF VIRGILIO MACHADO|11010|1|...,NaN,NaN,NaN,NaN,NaN,NaN
286012,2018|33092770|INST BRASIL|11008|1|01/02/2018|1...,NaN,NaN,NaN,NaN,NaN,NaN
286013,2018|33092796|CIEP 179 PROFESSOR CLAUDIO GAMA|...,NaN,NaN,NaN,NaN,NaN,NaN
286014,2018|33092818|INST LUDOLF REIS|11008|1|01/02/2...,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286015 entries, 0 to 286014
Data columns (total 5 columns):
CO_ENTIDADE          286015 non-null object
NO_ENTIDADE          0 non-null float64
CO_ORGAO_REGIONAL    0 non-null float64
CO_UF                0 non-null float64
CO_REGIAO            0 non-null float64
dtypes: float64(4), object(1)
memory usage: 9.8+ MB

In [23]:

df2.query('IN_COMPUTADOR == 1')[['CO_ENTIDADE','NO_ENTIDADE', 'CO_ORGAO_REGIONAL', 'CO_UF', 'CO_REGIAO']].sort_values(by='CO_ENTIDADE').head(10)

Empty DataFrame
Columns: [CO_ENTIDADE, NO_ENTIDADE, CO_ORGAO_REGIONAL, CO_UF, CO_REGIAO]
Index: []

## GRAFICO COMPUTADORES POR REGIÃO